<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NX10_DEV_API_KEY</key>
	<string>sk_test_i3nH_M-u4Er9j1uF6GV1wEh-KjWjXYS4sevEpLQLU0RRVu9Wpxo4fZ7rudLpjynJgC9VH-F-rNetlt1In73otA</string>
	<key>NX10_API_KEY</key>
	<string>to_do</string>
	<key>DEV_SENTRY_DSN</key>
	<string>https://AMkY3SHpwaYHiGnEA7zpGmng@s2291255.eu-fsn-3.betterstackdata.com/2291260</string>
	<key>DEV_SENTRY_ENVIRONMENT</key>
	<string>keyboard-extension</string>
</dict>
</plist>
